nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1em 2em;
    position: sticky;
    top: 0;

    h2 {
        font-family: "Nunito", sans-serif;
        font-size: 1.2em;
        margin: 0;
    }
}
