body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ededed;
    min-height: 100vh;
}

.app {
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
